<div class="tech-btm">
   
    <p>Teknoloji,Yazılım ve Diğer Bloglardan Haberdar Ol...</p>
    <form action="/Newsletter/SubscribeMail/" method="post">
        <input type="email" placeholder="Email" required="" name="Mail">
        <input type="submit" value="Subscribe">
    </form>

</div>